#!/usr/bin/env python
ENV = 'development'
SECRET_KEY = 'mbHYPpIAKvWvuzE5'
DATABASE = {
    'sqlalchemy.url': 'sqlite:///../db/a.db',
    'sqlalchemy.echo': False,
}
LOGGING = {
    'version': 1,
    'formatters': {
        'default': {
            'format': '%(asctime)-15s\t%(process) 6d:%(levelname)s:%(name)s: %(message)s',
        },
    },
    'handlers': {
        'flask': {
            'class': 'logging.StreamHandler',
            'formatter': 'default',
        },
    },
    'root': {
        'level': 'DEBUG',
        'handlers': ('flask',),
    },
}
#SESSION_COOKIE_SECURE = True
SESSION_TYPE = 'filesystem'
SESSION_FILE_DIR = '../db'

#GOOGLE_OAUTH2_CLIENT_ID = 'xxx.apps.googleusercontent.com'
#GOOGLE_OAUTH2_CLIENT_SECRET = '****'
#GOOGLE_OAUTH2_CLIENT_CREDENTIALS_FILE = 'client_secret_xxx.apps.googleusercontent.com.json'
#GOOGLE_OAUTH2_CLIENT_SCOPE = 'openid profile email'
